@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,400i,700,700i|Merriweather:400,400i,700,700i|Fira+Code:500,500i,700,700i');

html { font-size: 12px; }

/* main text width */

.book .book-body .page-wrapper .page-inner {
  max-width: 850px;
  /*width: 95%;*/
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

/* font family */

h1, h2, h3, h4, h5, h6, .book-summary {
  font-family: 'Merriweather Sans', sans-serif;
  letter-spacing: -0.02em !important;
}

.book.font-family-0 {
  font-family: 'Merriweather', serif !important;
}

.book.font-family-1 {
  font-family: 'Merriweather Sans', sans-serif !important;
}

.book .book-summary {
  font-family: 'Merriweather Sans', sans-serif !important;
  font-size: 1.1rem;
  line-height: 0.5em;
}

.book-summary-header {
  margin: 5px;
  font-size: 16px;
  line-height: 17px;
}

pre, code {
  font-family: 'Fira Code', Consolas, Menlo, Courier, monospace !important;
}

/* color */

div.book, .book .book-body, .book .book-body, .book .book-body .page-wrapper .page-inner section {
  background-color: rgb(250, 250, 250);
}

.book .book-summary {
  background-color: rgb(222, 229, 238);
}

.book .book-body .page-wrapper .page-inner section.normal pre, .book .book-body .page-wrapper .page-inner section.normal code {
  background: rgb(243, 243, 243);
}

/* hyper link color */

.book .book-body .page-wrapper .page-inner section.normal a {
  color: #205b87;
}

/* font size */

.page-inner pre, .page-inner code {
  font-size: 1.5rem;
  line-height: 1.4;
}

.page-inner p, .page-inner ol, .page-inner ul, .page-inner blockquote,
.page-inner section { 
  font-size: 1.4rem;
  line-height: 2.4rem;
  margin-top: 2rem;
  padding-right: 0;
  vertical-align: baseline;
}

/* math definition theorem font size */

.book.font-size-2 .book-body .page-inner section {
  font-size: 1.4rem;
}

p.caption {
  color: #777;
  margin-top: 10px;
}

p code {
  white-space: inherit;
}

pre {
  word-break: normal;
  word-wrap: normal;
}

pre code {
  white-space: inherit;
}

.book.with-summary .book-header.fixed {
    left: 250px;
}

.book.with-summary .book-body {
    left: 250px;
}

.book .book-summary {
    width: 250px;
}

/* hide next prev navigation button */

.book .book-body .navigation {
  color: rgba(0, 0, 0, 0);
}

/* figure center */
.book .book-body .page-wrapper .page-inner section.normal .figure,
.book .book-body .page-wrapper .page-inner section.normal img {
  text-align: center; 
  display: inline-block;
  align-content: center;
  margin: 20px 50px 20px;
}
